<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin-rest.css">
</head>
<body>
     <div class="navbar">
        <h1>Pune Tourism</h1>
        <form id="btn" action="/" method="get">
            <button type="submit">Home</button>
        </form>
        <form id="btn" action="/restaurent" method="get">
            <button type="submit">Food</button>
        </form>
         <form id="btn" action="/market" method="get">
            <button type="submit">Markets</button>
        </form>
         <form id="btn" action="/hotel" method="get">
            <button type="submit">Hotels</button>
        </form>
        <h3 style="color: white;padding-left: 100px ;">Admin-View</h3>
            </div>
        <main>
        {{#if content.length}} 
            <article>
                {{#each content }}  
                <header id="hotel_name">
                    <h1>{{this.name}}</h1>
                </header>
                <div class="img_area">
                <img src="{{this.imageURL}}" alt="">
                </div>
                <div class="owner">
                    <h3>Owner:{{this.organizer}}</h3>
                </div>
                <div class="price">
                    <h4>Ticket Price:{{this.price}}</h4>
                </div>
                <div class="address">
                    <p>Address:{{this.address}}</p>
                </div>
                <div class="contact">
                    <h4>Contact Details:{{this.contact}}</h4>
                </div>
                <div class="rating_star">
                    <h5>Ratings:{{this.rating}}/5</h5>
                </div>
                 <form action="/admin/delete-activity" method="post">
                   <input type="hidden" value="{{this._id}}" name="_id">
                    <button>Delete</button>
                </form>

            </article>
    {{/each}}
    {{else}}
    <h1>No Hotels to Display</h1>
    {{/if}}

    </main>



</body>
</html>