<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin-rest.css">
    <link rel="stylesheet" href="css/display.css">
</head>
<body>
     <div class="navbar">
        <h1>Pune Tourism</h1>
        <form id="btn" action="/" method="get">
            <button type="submit">Home</button>
        </form>
        <form id="btn" action="/restaurent" method="get">
            <button type="submit">Food</button>
        </form>
         <form id="btn" action="/market" method="get">
            <button type="submit">Markets</button>
        </form>
         <form id="btn" action="/hotel" method="get">
            <button type="submit">Hotels</button>
        </form>
            </div>
        <main>
        {{#if content.length}} 
            <div class="hotel-container">
                {{#each content }}  
                <article>
                <header id="hotel_name">
                    <h1>{{this.name}}</h1>
                </header>
                <div id="photoarea">
                <div class="slide">
                <img src="{{this.imageURL}}" alt="">
                </div>
                </div>
                
                <div class="owner">
                    <h3>Owner:{{this.organizer}}</h3>
                </div>
                <div class="price">
                    <h4>Ticket Price:{{this.price}}</h4>
                </div>
                <div class="address">
                    <p>Address:{{this.address}}</p>
                </div>
                <div class="contact">
                    <h4>Contact Details:{{this.contact}}</h4>
                </div>
                <div class="rating_star">
                    <h5>Ratings:{{this.rating}}/5</h5>
                </div>
                <a href="/specific/activity-spec/{{this._id}}">Details</a>
            </article>
            {{/each}}
            </div>
    
    {{else}}
    <h1>No Activities to Display</h1>
    {{/if}}

    </main>



</body>
</html>